/* StickyButton.css */

.sticky-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.sticky-btn:hover {
    background-color: #e6b800;
}